<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
    </div>
</nav>

<div>
    <form class="container mt-5" [formGroup]="updateSheetForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="residence" class="form-label">Residence</label>
            <input type="text" class="form-control" id="residence"formControlName="residence">
        </div>
        <div class="mb-3">
            <label for="native" class="form-label">Native</label>
            <input type="text" class="form-control" id="native" formControlName="native">
        </div>

        <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            <div class="custom-control custom-radio">
                <input name="rating" id="five" type="radio" value="5" class="form-check-input mt-0" formControlName="rating">
                <label class="custom-control-label" for="five">5</label>
            </div>
            <div class="custom-control custom-radio">
                <input name="rating" id="four" type="radio" value="4" class="form-check-input mt-0" formControlName="rating">
                <label class="custom-control-label" for="four">4</label>
            </div>
            <div class="custom-control custom-radio">
                <input name="rating" id="three" type="radio" value="3" class="form-check-input mt-0" formControlName="rating">
                <label class="custom-control-label" for="three">3</label>
            </div>
            <div class="custom-control custom-radio">
                <input name="rating" id="two" type="radio" value="2" class="form-check-input mt-0" formControlName="rating">
                <label class="custom-control-label" for="two">2</label>
            </div>
            <div class="custom-control custom-radio">
                <input name="rating" id="one" type="radio" value="1" class="form-check-input mt-0" formControlName="rating">
                <label class="custom-control-label" for="one">1</label>
            </div>
        </div>

        <div class="mb-3">
            <label for="testimony" class="form-label">Testimony</label>
            <input type="text" class="form-control" id="testimony">
        </div>
        <button [disabled]="updateSheetForm.invalid || updateSheetForm.pristine" class="btn btn-success">Update</button>
    </form>
</div>